test_application/Service References/ServiceReference1/DatabaseSilverlightService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:49641/DatabaseSilverlightService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:49641/DatabaseSilverlightService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49641/DatabaseSilverlightService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/test_system.Models" />
      <xsd:import schemaLocation="http://localhost:49641/DatabaseSilverlightService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:49641/DatabaseSilverlightService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:49641/DatabaseSilverlightService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/test_system" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DatabaseSilverlightService_GetVoprForGlav_InputMessage">
    <wsdl:part name="parameters" element="GetVoprForGlav" />
  </wsdl:message>
  <wsdl:message name="DatabaseSilverlightService_GetVoprForGlav_OutputMessage">
    <wsdl:part name="parameters" element="GetVoprForGlavResponse" />
  </wsdl:message>
  <wsdl:message name="DatabaseSilverlightService_GetTestData_InputMessage">
    <wsdl:part name="parameters" element="GetTestData" />
  </wsdl:message>
  <wsdl:message name="DatabaseSilverlightService_GetTestData_OutputMessage">
    <wsdl:part name="parameters" element="GetTestDataResponse" />
  </wsdl:message>
  <wsdl:message name="DatabaseSilverlightService_GetOtvet_InputMessage">
    <wsdl:part name="parameters" element="GetOtvet" />
  </wsdl:message>
  <wsdl:message name="DatabaseSilverlightService_GetOtvet_OutputMessage">
    <wsdl:part name="parameters" element="GetOtvetResponse" />
  </wsdl:message>
  <wsdl:message name="DatabaseSilverlightService_GetDNSInfo_InputMessage">
    <wsdl:part name="parameters" element="GetDNSInfo" />
  </wsdl:message>
  <wsdl:message name="DatabaseSilverlightService_GetDNSInfo_OutputMessage">
    <wsdl:part name="parameters" element="GetDNSInfoResponse" />
  </wsdl:message>
  <wsdl:message name="DatabaseSilverlightService_AddStatistic_InputMessage">
    <wsdl:part name="parameters" element="AddStatistic" />
  </wsdl:message>
  <wsdl:message name="DatabaseSilverlightService_AddStatistic_OutputMessage">
    <wsdl:part name="parameters" element="AddStatisticResponse" />
  </wsdl:message>
  <wsdl:portType name="DatabaseSilverlightService">
    <wsdl:operation name="GetVoprForGlav">
      <wsdl:input wsaw:Action="urn:DatabaseSilverlightService/GetVoprForGlav" message="DatabaseSilverlightService_GetVoprForGlav_InputMessage" />
      <wsdl:output wsaw:Action="urn:DatabaseSilverlightService/GetVoprForGlavResponse" message="DatabaseSilverlightService_GetVoprForGlav_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTestData">
      <wsdl:input wsaw:Action="urn:DatabaseSilverlightService/GetTestData" message="DatabaseSilverlightService_GetTestData_InputMessage" />
      <wsdl:output wsaw:Action="urn:DatabaseSilverlightService/GetTestDataResponse" message="DatabaseSilverlightService_GetTestData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOtvet">
      <wsdl:input wsaw:Action="urn:DatabaseSilverlightService/GetOtvet" message="DatabaseSilverlightService_GetOtvet_InputMessage" />
      <wsdl:output wsaw:Action="urn:DatabaseSilverlightService/GetOtvetResponse" message="DatabaseSilverlightService_GetOtvet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDNSInfo">
      <wsdl:input wsaw:Action="urn:DatabaseSilverlightService/GetDNSInfo" message="DatabaseSilverlightService_GetDNSInfo_InputMessage" />
      <wsdl:output wsaw:Action="urn:DatabaseSilverlightService/GetDNSInfoResponse" message="DatabaseSilverlightService_GetDNSInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStatistic">
      <wsdl:input wsaw:Action="urn:DatabaseSilverlightService/AddStatistic" message="DatabaseSilverlightService_AddStatistic_InputMessage" />
      <wsdl:output wsaw:Action="urn:DatabaseSilverlightService/AddStatisticResponse" message="DatabaseSilverlightService_AddStatistic_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>